{% extends 'base.html' %}
{% block content %}
<style>
    .profile-pic{
    max-width: 200px;
    max-height : 200px;
    margin : 0 auto;
    border-radius: 50%;
    }

   .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
</style>
<br>
<div class="row">
<div class="col-md-12">
    <div class ="card card-body">
        <hr>
        <h3 style="text-align: center">Profile </h3>
        <hr>
        <img  class="profile-pic center" src="{{ user.profile.photo.url }}">
        <h2 style="text-align: center">Name : {{ user.username }}</h2>
        <h3 style="text-align: center">Phone: {{ user.profile.phone }}</h3>
    </div>
    <a href="{% url 'edit-profile' %}" class="btn btn-primary center">Change Profile</a>
    <br>
    <a href="{% url 'change_pass' %}" class="btn btn-primary center">Change Password</a>
    <br>
    <a href="{% url 'change_pass1' %}" class="btn btn-primary center">Forgot Password(without old pass)? </a>
    <br>
    <br>
</div>

</div>
{% endblock %}