<!--{% extends 'base.html' %}-->
<!--{% load static %}-->
<!--{% load my_tags %}-->

<!--{% block content %}-->

<!--  {{ object.name }}-->
<!--  <h2>pronay das das</h2>-->
<!--&lt;!&ndash;{% for list in lists %}&ndash;&gt;-->
<!--&lt;!&ndash;  <h1>{{list.name}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
<!--{{lists.id}}-->
<!--{{wishlist.name}}-->
<!--  <h1>{{comment_count.product__count}}</h1>-->
<!-- -->
 <a class="review-link" href="#"> {{comment_count.product__count}} Review(s) | Add your review</a>

  <h1>{{review_count.rate__avg}}</h1>

<!--<div class="col-md-5 col-md-push-2">-->
<!--    <div id="product-main-img">-->
<!--        {% for image in lists.product.gallery %}-->
<!--        <div class="product-preview">-->
<!--            <img src="{{ image.photo.url }}" alt="">-->
<!--        </div>-->
<!--        {% endfor %}-->

<!--    </div>-->
<!--</div>-->

<!--{% endblock %}-->
